<%- include("template/cabecera") %>

  <h1>PAGINA PRINCIPAL</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt deserunt quia repellat, molestiae distinctio
    quidem
    dolorum eaque numquam enim, tempore eos magnam praesentium aliquam? Voluptatibus distinctio inventore, culpa,
    voluptas pariatur voluptatum ducimus ratione vel accusamus fugit consequuntur. Fuga amet placeat laudantium fugit
    earum cupiditate perferendis. Ratione repellendus quod soluta odio atque culpa iure obcaecati architecto, aperiam
    et
    quis nobis exercitationem iste. Accusamus, deserunt quasi voluptatibus modi alias nemo reprehenderit cumque quam
    molestiae voluptate, blanditiis quaerat recusandae sapiente minima in aperiam eos, quis maiores dolorem? Neque
    expedita voluptatibus veniam iste molestiae dolore, deserunt quo atque fugiat provident consectetur officiis et
    dolorum distinctio, cumque eligendi explicabo recusandae? Molestias quidem ullam dignissimos, ex laboriosam minus.
    Quod beatae aperiam repudiandae nulla, quis deserunt odit consequuntur dicta corporis nihil iusto, quidem
    veritatis,
    quas quia? Rem labore culpa debitis et reiciendis magni explicabo fuga officiis illo placeat perspiciatis, in
    provident veritatis maiores iure ad praesentium eos libero. Delectus ducimus commodi, porro tempore reprehenderit,
    minima sunt pariatur amet maiores velit excepturi quasi totam, ipsam similique tempora quia illum harum culpa
    autem!
    Quae error aliquam numquam consectetur nostrum voluptate, suscipit cupiditate libero incidunt a sit provident
    quisquam eius culpa? Quasi tempore velit aspernatur quam nihil sint ea ducimus!</p>
  </body>

  </html>